/* start constants */
*{
    box-sizing: border-box;
}
.clearfix{
    clear: both;
}

/* color: rgb(143, 140, 140); */

@font-face{
    font-family: futura-pt;
    src: url(/fonts/FuturaPTBook.otf);
    font-weight: 400;
}
@font-face{
    font-family: futura-pt-cond-medium;
    src: url(/fonts/FuturaPTCondMedium.otf);
    font-weight: 400;
}
@font-face{
    font-family: futura-pt-demi;
    src: url(/fonts/FuturaPTDemi.otf);
    font-weight: 400;
}
@font-face{
    font-family: futura-pt-bold;
    src: url(/fonts/FuturaPTCondBold.otf);
    font-weight: 800;
}
@font-face{
    font-family: futura-pt-cond-book;
    src: url(/fonts/FuturaPTCondBook.otf);
    font-weight: 800;
}
@font-face{
    font-family: futura-pt-cond-bold;
    src: url(/fonts/FuturaPTCondBold.otf);
    font-weight: 800;
}
@font-face{
    font-family: futura-pt-extra-bold;
    src: url(/fonts/FuturaPTExtraBold.otf);
    font-weight: bolder;
}
@font-face{
    font-family: futura-pt-light;
    src: url(/fonts/FuturaPTLight.otf);
    font-weight: 400;
}
/* End constants */

/* Start header styles */
.header{
    background-color: black!important;
    padding: 1% 8% .5% 3.5%;
    height: 85px;
}
.header-logo{
    text-align: center;
    width: 145px;
    height: 5%;
}
.navbar-logo-img{
    width: 128px;
    height: 47px;
}
.page{
    /* margin-right: 10px; */
}
.nav-link{
    font-family: futura-pt-light;
    font-size: 14px;
    color: #F7F7F7;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    font-weight: 800;
}
.nav-link:hover{
    text-decoration: none;
    color: #F7F7F7;
}
.navbar ul:hover > li { 
    opacity: 0.5;
  }
  
.navbar ul li:hover {
    opacity: 1;
  }
/* End header styles */

/* Start cover styles */
.cover{
    background-image: url(../images/home-images/slide-image.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 55px 71px;
    background-size: 100% 700px;
    height: 700px;
}
.empty1{
    flex: 1;
}
.backstory-login{
    flex: 3;
    margin-top: 63px;
    margin-bottom: 17px;
}
.empty2{
    flex: 3;
}
.logo{
    margin-bottom: 35px;
}
.backstory-paragraph{
    margin-bottom: 55px;
}
.backstory-paragraph strong{
    font-family: futura-pt-demi;
    color: #EDEDF2;
    font-size: 20px;
    letter-spacing: 1px;
}
#email{
    width: 247px;
    height: 52px;
    padding: 15px;
    margin-bottom: 30px;
}
.signup{
    font-family: futura-pt;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #272727;
    border: none;
    width: 230px;
    height: 64px;
    font-size: 15px;
    border-radius: 30px;
    margin-bottom: 30px;
}
.signup:hover{
    opacity: .7;
}
.note{
    font-family: futura-pt;
    color: #FFFFFF;
    font-size: 13px;
    letter-spacing: 1px;
}
/* End cover styles */

/* Start issues styles */
.issues{
    padding: 55px 71px;
    background-color: rgb(237, 237, 242);
}
.links{
    padding-bottom: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.issues-link1{
    padding-bottom: 7px;
    text-transform: uppercase;
    font-weight: bold;
    text-emphasis: .5em;
    font-size: 17px; 
    font-weight: 700; 
    letter-spacing: 7px;
    color: #513f8d; 
    text-align: left;
    font-family: futura-pt;
}
.link2{
    font-size: 20px;
    border-bottom: 1px solid rgba(81,63,141,.3);
    color: #513f8d; 
    font-family: futura-pt-light;
}
.issues-link1:hover{
    text-decoration: none;
    color: #513f8d;
}
.link2:hover{
    text-decoration: none;
    color: #513f8d;
    opacity: .5;
}
.sub-issues{
    margin-bottom: 36px;
}
.issue{
    margin-right: 30px;
}
.issue-image{
    width: 100%;
    height: 187px;
    margin-bottom: 30px;
}
.issue-title{
    font-family: futura-pt-demi;
    color: #454545;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    font-size: 31px;
}
.issue-paragraph{
    font-family: futura-pt-light;
    color: #454545;
    letter-spacing: 1px;
    margin-bottom: 56px;
    font-size: 18px;
}
.read-more{
    font-family: futura-pt;
    color: #513ea8;
    letter-spacing: 1px;
    font-size: 14px;
    margin-bottom: 10px;
}
.read-more:hover{
    text-decoration: none;
    color: #513ea8;
}
/* End issues styles */

/* Start footer styles */
.footer{
    background-color: #513f8d;
    padding: 12px 71px;
}
.footer1, .footer2{
    padding: 17px;
}
.left-side, .copyrights{
    font-family: futura-pt-light;
    color: #D1D1D1;
    font-size: 20px;
    letter-spacing: 2px; 
}
/* End footer styles */
