/* start constants */
*{
    box-sizing: border-box;
}
.clearfix{
    clear: both;
}
@font-face{
    font-family: futura-pt;
    src: url(/fonts/FuturaPTBook.otf);
    font-weight: 400;
}
@font-face{
    font-family: futura-pt-cond-medium;
    src: url(/fonts/FuturaPTCondMedium.otf);
    font-weight: 400;
}
@font-face{
    font-family: futura-pt-demi;
    src: url(/fonts/FuturaPTDemi.otf);
    font-weight: 400;
}
@font-face{
    font-family: futura-pt-bold;
    src: url(/fonts/FuturaPTCondBold.otf);
    font-weight: 800;
}
@font-face{
    font-family: futura-pt-cond-book;
    src: url(/fonts/FuturaPTCondBook.otf);
    font-weight: 800;
}
@font-face{
    font-family: futura-pt-cond-bold;
    src: url(/fonts/FuturaPTCondBold.otf);
    font-weight: 800;
}
@font-face{
    font-family: futura-pt-extra-bold;
    src: url(/fonts/FuturaPTExtraBold.otf);
    font-weight: bolder;
}
@font-face{
    font-family: futura-pt-light;
    src: url(/fonts/FuturaPTLight.otf);
    font-weight: 400;
}
/* End constants */

/* Start header styles */
.header{
    background-color: black!important;
    padding: 1% 8% .5% 3.5%;
    height: 85px;
}
.header-logo{
    text-align: center;
    width: 145px;
    height: 5%;
}
.navbar-logo-img{
    width: 128px;
    height: 47px;
}
.page{
    /* margin-right: 10px; */
}
.nav-link{
    font-family: futura-pt-light;
    font-size: 14px;
    color: #F7F7F7;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    font-weight: 800;
}
.nav-link:hover{
    text-decoration: none;
    color: #F7F7F7;
}
.navbar ul:hover > li { 
    opacity: 0.5;
  }
  
.navbar ul li:hover {
    opacity: 1;
  }
/* End header styles */

/* Start slide styles */
.header-slide{
    background-color: #210d64f1;
}
.slide{
    padding: 59px 71px;
}
.blockchain{
    flex: 3;
}
.blockchain-image{
    width: 230px;
    height: 300px;
}
.blockchain-h3{
    margin-bottom: 17px;
}
.blockchain-h3-link{
    font-family:futura-pt;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bolder;
    color: #D0CBDC;
    font-size: 17px;
    letter-spacing: 3px;
    border-bottom: .25px solid #D0CBDC;
    padding-bottom: 4px;
    margin-bottom: 17px;
}
.blockchain-h3-link:hover, .blockchain-h1-link:hover{
    text-decoration: none;
    opacity: .5;
    color: #D0CBDC;
}
.blockchain-h1{
    margin-bottom: 37px;
}
.blockchain-h1-link{
    font-family: futura-pt-cond-bold;
    cursor: pointer;
    font-weight: bolder;
    color: white;
    font-size: 56px;
    letter-spacing: 2px;
    border-bottom: 1px solid #D0CBDC;
}
.blockchain-h2{
    font-family: futura-pt-Demi;
    font-weight: bolder;
    color: white;
    font-size: 29px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}
.blockchain-paragraph{
    font-family: futura-pt-light;
    color: #D0CBDC;
    letter-spacing: 1px;
    margin-bottom: 40px;
    font-size: 20px;
}
.blockchain-download{
    width: 225px;
    height: 71px;
    background-color: rgb(29, 27, 34);
    border-radius: 80px;
    border: none;
    margin-bottom: 30px;
}
.blockchain-download-link{
    font-weight: bold;
    color: #D0CBDC;
    font-size: 16px;
    letter-spacing: 4px;
}
.blockchain-download-link:hover{
    text-decoration: none;
    opacity: .5;
    color: #D0CBDC;
}
.highlights{
    flex: 1;
}
.highlights-heading{
    font-family: futura-pt-Demi;
    font-weight: bold;
    color: #EDEDF2;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.highlights-list{
    margin-bottom: 50px;
}
.list1, .list2, .list3, .list4, .list5{
    font-family: futura-pt-light;
    color: #EDEDF2;
    font-size: 20px;
    letter-spacing: 1px;
}
.highlights em{
    font-family: futura-pt-light;
    color: #EDEDF2;
    font-size: 20px;
    letter-spacing: 1px;
}
.highlights strong{
    font-family: futura-pt-extra-bold;
    color: #EDEDF2;
    font-size: 20px;
    letter-spacing: 1px;
}
.header-slide i{
    color: white;
}
/* End slide styles */

/* Start reports catalog styles */
.reports-catalog{
    background-color: rgb(237, 237, 242);
    padding: 5px 71px;
}
.download{
    margin-top: 80px;
    margin-bottom: 80px;
}
.download-h3{
    font-family: futura-pt-demi;
    text-transform: uppercase;
    font-weight: bold;
    color: #513F8D;
    font-size: 20px;
    margin-bottom: 17px;
    letter-spacing: 5px;
}
.download-h1{
    font-family: futura-pt;
    color: #333333;
    font-size: 56px;
    letter-spacing: 4px;
}
.reports-collection{
    margin-bottom: 35px;
}
.report-image{
    width: 240px;
    height: 220px;
}
.report-h3{
    margin-bottom: 17px;
}
.report-h3-link{
    font-family:futura-pt;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bolder;
    color: #513F8D;
    font-size: 17px;
    letter-spacing: 5px;
    padding-bottom: 4px;
    margin-bottom: 17px;
}
.report-h3-link:hover, .report-h1-link:hover{
    text-decoration: none;
    opacity: .5;
    color: #513F8D;
}
.report-h1{
    margin-bottom: 37px;
}
.report-h1-link{
    font-family: futura-pt-cond-bold;
    cursor: pointer;
    font-weight: bolder;
    color: #513F8D;
    font-size: 29px;
    letter-spacing: 2px;
    border-bottom: 1px solid #513F8D;
}
.report-paragraph{
    font-family: futura-pt-light;
    color: #454545;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 40px;
    font-size: 20px;
}
.report-download{
    width: 177px;
    height: 44px;
    background-color: #513F8D;
    border-radius: 80px;
    border: none;
    margin-bottom: 30px;
}
.report-download-link{
    font-weight: bold;
    color: #D0CBDC;
    font-size: 14px;
    letter-spacing: 4px;
}
.report-download-link:hover{
    text-decoration: none;
    opacity: .5;
    color: #D0CBDC;
}
.lines{
    width: 100%;
    margin-top: 50px;
}
.lines-empty1{
    width: 80px;
    height: 1px;
}
.lines-empty2{
    width: 20px;
    height: 1px;
}
/* End reports catalog styles */

/* Start chapters from reports styles */
.chapters-from-reports{
    background-color: rgb(237, 237, 242);
    padding: 5px 71px;
}
.links{
    margin-bottom: 46px;
}
.links-h3{
    font-family: futura-pt;
    color: #513F8D;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 4px;
    padding-left: 570px;
}
.links-a{
    font-family: futura-pt-light;
    color: #513F8D;
    font-size: 20px;
    border-bottom: .5px solid #513F8D;
}
.links-a:hover{
    text-decoration: none;
    color: #513F8D;
    opacity: .5;
}
.chapters-collection1{
    margin-bottom: 40px;
}
.chapters-collection2{
    margin-bottom: 60px;
}
.ex1, .ex2, .ex3{
    flex: 1;
    margin-right: 20px;
}
.ex1:last-child, .ex2:last-child, .ex3:last-child{
    margin-right: 0px;
}
.chapter-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ex-image-container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ex-title-div{
    margin-bottom: 10px;
}
.ex-title{
    font-family: futura-pt;
    font-weight: bold;
    color: #454545;
    font-size: 20px;
    margin-bottom: 3px; 
}
.ex-label{
    font-family: futura-pt;
    color: #0e0b0b6c;
    font-size: 13px;
    margin: 15px 0px;
}
.event-paragraph{
    font-family: futura-pt;
    width: 100%;
    font-size: 18px;
    color: #454545;
    margin-bottom: 10px;
}
.ex1 .read-more, .ex2 .read-more, .ex3 .read-more{
    font-family: futura-pt;
    color: #513ea8;
    letter-spacing: 1px;
    font-size: 14px;
}
.ex1 .read-more:hover, .ex2 .read-more:hover, .ex3 .read-more:hover{
    text-decoration: none;
    cursor: pointer;
}
/* End chapters from reports styles */

/* Start footer styles */
.footer{
    background-color: #513f8d;
}
.footer1, .footer2{
    padding: 17px;  
}
.left-side, .copyrights{
    font-family: futura-pt-light;
    color: #D1D1D1;
    font-size: 20px;
    letter-spacing: 2px;   
}
/* End footer styles */